/* Genel Sayfa Yapısı - Acemi İşi */
body {
    background-color: #ffe4e1;
    /* Soluk kırmızımsı arka plan */
    font-family: 'Verdana', sans-serif;
    color: #333;
    margin: 0;
    padding: 10px;
}

header {
    background-color: #8b0000;
    /* Koyu kırmızı */
    color: white;
    text-align: center;
    padding: 20px;
    border: 5px solid black;
    margin-bottom: 20px;
}

h1 {
    font-size: 40px;
    text-decoration: underline;
}

main {
    background-color: white;
    width: 80%;
    margin: 0 auto;
    /* Ortala */
    border: 2px dashed red;
    padding: 20px;
}

figure {
    text-align: center;
    background-color: #eee;
    padding: 10px;
    border: 1px solid #999;
    margin: 10px 0;
}

figure img {
    max-width: 100%;
    border: 3px solid #8b0000;
}

figcaption {
    font-style: italic;
    margin-top: 5px;
    font-size: 14px;
}

h2 {
    color: #8b0000;
    border-bottom: 2px solid orange;
}

h3 {
    background-color: orange;
    color: white;
    padding: 5px;
    display: inline-block;
}

/* Malzemeler Listesi */
ul {
    border: 1px solid gray;
    background-color: #fffacd;
    /* Limon sarısı */
    padding: 20px 40px;
}

/* Yapılış Listesi */
ol {
    border: 1px solid gray;
    background-color: #f0f8ff;
    /* Alice mavisi */
    padding: 20px 40px;
}

li {
    margin-bottom: 5px;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #333;
    color: white;
    border-top: 5px solid #8b0000;
}

a {
    color: yellow;
    font-weight: bold;
}

/* Linkin üzerine gelince */
a:hover {
    color: red;
    background-color: yellow;
}