/* https://flatuicolors.com/palette/tr */

/* 1. Arka plan ve hizalama */
body {
    background-color: #7efff5;
    /* Elektirik Mavisi */
    margin: 0;
    padding: 0;
}

/* Navbar ve Footer */
.navbar,
footer {
    display: none;
}

.main-content {
    padding-top: 50px;
    text-align: center;
}

/* 2. Profil Kartı */
.profile-card {
    background-color: #fff200;
    /* Dorn Yellow*/
    width: 300px;
    padding: 20px;
    border: 4px solid #ff3838;
    /* kırmızı turuncu? */
    margin: 0 auto;
}

/* 3. Profil Resmi */
.profile-img {
    width: 100%;
    height: auto;
    border-radius: 0;
    border: 5px solid #18dcff;
    box-sizing: border-box;
    /* Neon mavi */
}

/* 4. Tipografi */
.name {
    color: #7158e2;
    /* bu rengin ismi neydi */
    text-decoration: underline;
    font-weight: bold;
}

.subtitle {
    color: #3d3d3d;
    /* bu rengin ismi neydi */
    font-style: italic;
    font-weight: bold;
}

/* Yeni Bio Container Stili */
.bio-container {
    width: 98%;
    /*kenarlara çok yakın */
    margin: 30px auto;
    /* Ortalamak için */
}

.bio-text {
    border: 2px dashed #cd84f1;
    /* Bu renk ne amk? */
    padding: 20px;
    background-color: #fff;
    /* Beyaz */
    color: #4b4b4b;
    /* Bu rengin ismi neydi */
    font-size: 16px;
    line-height: 1.6;
    text-align: left;
    /* Okuması kolay olsun */
}

/* 5. Galeri */
.gallery-section {
    margin-top: 50px;
    padding-bottom: 50px;
    background-color: #32ff7e;
    /* Bu rengin ismi neydi */
    border-top: 5px solid #ffaf40;
    /* Bu rengin ismi neydi */
}

.gallery-img {
    width: 150px;
    /* Çok resim var biraz küçültelim */
    height: 150px;
    object-fit: cover;
    border: 4px solid #c56cf0;
    /* Bu rengin ismi neydi */
    margin: 10px;
    display: inline-block;
}